.toolbar-item {
  background-color: hsl(0 10% 55% / 0.33);
  border: 2px solid white;
  padding: 0;
  
  &:not(:last-child) {
    margin-right: 2px;
  }
  
  &:active {
    background-color: hsl(0 10% 45% / 0.33)
  }
}