$border-radius: toRem(40);

.tools-bar {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: toRem(25);
  margin-bottom: toRem(35);
  background-color: hsl(0 0% 5%);
  width: 90%;
  height: toRem(55);
  border-radius: $border-radius;
  opacity: 0.75;
  display: flex;
  padding: 0;
  
  & > :first-child {
    border-radius: $border-radius 0 0 $border-radius;
  }
}