$entry-border: hsl(15 50% 55%);

.entry {
  position: relative;
  background: transparent;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(toRem(60), 1fr));
  min-height: toRem(40);
  
  &:not(:last-child) {
    border-bottom: toRem(2) solid $entry-border;
  }

  .slot {
    @include flex-center;
    justify-content: safe center;
    @include fluid-text(30, 18);
    font-weight: 500;
    font-family: 'Inter';
    color: hsl(15 50% 85%);
    padding-inline: 5px;
    overflow-x: auto;
    white-space: nowrap;
    
    &:not(:last-child) {
      border-right: toRem(2) solid $entry-border;
    }
  }
}

.selected {
  
}